<html>
    <head>
        <title>Hallo mein Engel</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Wie gefällt dir meine erste Website Lisa-Maria?</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
			h2><a href="">Ich hab dich echt gerneHERZ</a></h2>
            <em>Bin echt froh dass du an dem Tag auch bouldern warst</em>
			<p>Ich muss leider auch sagen, ich bin noch nicht in der Lage die ganze Website wirklich scön zu gestalten aber das ist auch schonmal was oder ?
        </div>

        <div>
            <strong>Dieser Text soll hervorgehoben dargestellt werden</strong>
            <h2><a href="">Hoffe wir haben heute einen schönen Abend, das Essen war übrigens sehr toll</a></h2>
            <p>Hätte ich das jetzt nicht geschrieben, hätte ich vielleicht vergessen den Film runterzualden
			<p>Tut mir auch bisschen leid wie viel ich zurzeit am lernen bin und ich weiß du verstehst es auch aber ich weiß auch das es bald wieder einfacher wird:)
			<p>Theoretisch kann ich im zuge des Schreibens hier mal noch paar Funktionen testen. 
			
			<p>Du holst wirklich immer alles aus dem Mangold raus lecker, und dein Zucchiini-Gurken Salat war heute wieder ein Traum</p>
        </div>
    </body>
</html>
