<html>
    <head>
        <title>Hallo Freundin</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Hallo, wie gefällt dir meine erste Website Lisa-Maria?</a></h1>
        </div>

        <div>
            <p>published: gerade eben</p>
			<a href="">Ich hab dich echt gern!</a></h2>
			<p>
            <em>Bin echt froh dass du an dem Tag auch bouldern warst</em>
			<p>Ich muss leider auch sagen, ich bin noch nicht in der Lage die ganze Website wirklich schön zu gestalten aber das ist auch schonmal was oder ?
        </div>

        <div>
            <strong>Dieser Text soll hervorgehoben dargestellt werden</strong>
			<p>LEERZEICHEN
			
            <h2><a href="">Hoffe wir haben heute einen schönen Abend, das Essen war übrigens sehr toll</a></h2>
            <p><3<3
			<em>Tut mir auch bisschen leid wie viel ich zurzeit am lernen bin und ich weiß du verstehst es auch aber ich weiß auch das es bald wieder einfacher wird:)</em>
			<p>Diese Website zu machen war auch echt eine gute Übung für mich jetzt. Das Gelernte zu verfestigen.
			
			<p>Du holst wirklich immer alles aus dem Mangold raus lecker, und dein Zucchiini-Gurken Salat war heute wieder ein Traum</p>
			<em> Schöne Grüße Max
        </div>
    </body>
</html>